[Unit]
Description=Graft supernode
After=graftnoded_ptn.service

[Service]
User=EXEC_USER
Type=simple
WorkingDirectory=/HOME_DIR/%i/
Restart=always
ExecStart=/usr/bin/graft-supernode --config-file config.ini --log-file HOME_DIR/%i/logs/%i.log --log-level 1
Environment=TERM=xterm
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
