[Unit]
Description=Graft supernode
After=graftnoded_ptn.service

[Service]
User=gareth
Type=simple
WorkingDirectory=/home/gareth/%i/
Restart=always
ExecStart=/usr/bin/graft-supernode --config-file config.ini --log-file /home/$USER/%i/logs/%i.log --log-level 1
Environment=TERM=xterm
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
