[Unit]
Description=Graft supernode
After=graftnoded.service

[Service]
User=graft
Type=simple
WorkingDirectory=/home/graft/%i
Restart=always
ExecStart=/usr/bin/graft-supernode --config-file config.ini --log-file /home/graft/%i/logs/%i.log --log-level=1
Environment=TERM=xterm
#LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
